<section>
  <h3  style="text-align:center">Service Area Percentages of Total Revenue:</h3>
  <%= pie_chart charts_service_area_year_end_path, :library => {
          title: 'My Daily Activities',
          titlePosition: 'none',
          is3D: true,
          'width':'50%',
          'height': 400,
          legend: {
            position: "none"
          }
        } %>
</section>
