<h1>Invoices</h1>

<!-- somewhere in your document include the Javascript -->
<script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>

<!-- configure the Intuit object: 'grantUrl' is a URL in your application which kicks off the flow, see below -->
<script>
intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '/authenticate'});
</script>

<!-- this will display a button that the user clicks to start the flow -->
<% unless session[:token] %>
  <ipp:connectToIntuit></ipp:connectToIntuit>
<% end %>

<% if notice %>
  <%= notice %>
<% end %>
