<p>Outstanding Landscaping Contracts: <%= @landscaping_contracts.count %></p>
<p>Outstanding Waste Contracts: <%= @waste_contracts.count %></p>

<%= react_component 'ContractsPipeline', { landscaping_contracts: @landscaping_contracts,
                                           waste_contracts: @waste_contracts,
                                           cleaning_contracts: @cleaning_contracts,
                                           security_contracts: @security_contracts,
                                           copier_contracts: @copier_contracts,
                                           solar_contracts: @solar_contracts,
                                           gas_contracts: @gas_contracts } %>
